/apps/config/database.php
/apps/config/config.php

/public/files/*
!/public/files/template/
!/public/files/ttfontdata/
!/public/files/.htaccess

!/public/files/cover/
/public/files/cover/*
!/public/files/cover/.htaccess

!/public/files/ebook/
/public/files/ebook/*
!/public/files/ebook/.htaccess

/apps/cache/

/nbproject/
/nbproject/private/

/vendor/
/vendor/*

composer.lock